doctype html
html
	include includes/head
	include helpers/counters
	body
		.menu
			ul
				li: a(href='acerca') Acerca de
		.container.center
			img(class="logo" src="../src/img/logo.png")
			h2 Verificamos los informes de gobierno
			h3 Para ver los informes bajo lupa del 2016 da click <a href="">aquí</a>
			</br>
			- var municipios = Object.keys(data)

			for municipio in municipios
				.third.padd-20.select.center
					a(href=municipio)
						img(class="escudo" src="src/img/"+municipio+".png")
						h4 En #{municipio}
						br
						//- - var #{municipio}total = 0;
						//- - var #{municipio}falso = 0;
						//- - var #{municipio}verdadero = 0;
						//- - var #{municipio}omisiones = 0;
						//- - var #{municipio}dificil = 0;
						//- for row in #{municipio}
						//- 	- #{municipio}total +=1
						//- 	- #{municipio}dificil = #{municipio}total - #{municipio}falso - #{municipio}verdadero - #{municipio}omisiones
						//-
						//- 	if (row.Veredicto === "falso")
						//- 		- #{municipio}falso += 1
						//- 	if (row.Veredicto === "verdadero")
						//- 		- #{municipio}verdadero +=1
						//- 	if (row.Veredicto === "omisiones")
						//- 		- #{municipio}omisiones += 1
						//- p Afirmaciones falsas : #{guadalajarafalso}
						//- p Afirmaciones verdaderas: #{guadalajaraverdadero}
						//- p Engañoso o con problemas para verificar: #{guadalajaradificil}
						//- p Omisiones: #{guadalajaraomisiones}
						//- CODE




		include includes/footer
		script(src="src/js/analytics.js")
